body{
    background: #cccccc ;
}
#banner {
    width: 100%;
}
.principal
h1 {
    text-align: center;
}
p {
    text-align: center; 
}
#missao {
    font-size: 20px;
}
em stong {
    color:rgb(0, 162, 255)
}